# CineMatch — Environment Variables
# Copy this to .env and fill in your values:
#   cp .env.example .env

# Flask
SECRET_KEY="301e5d12ab9e3e47822573168e557ca32af95f3b0890ca08b5c52706c28cd325"
JWT_SECRET_KEY="926361f9394cb8f31a2af2baab33e7f7cab3dd2456f4ed531bc071ea50859d72"
FLASK_DEBUG=True
PORT=5000

# MySQL Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=cinematch
DB_PORT=3306
